<div ng-controller="HealthCheckController">
    <div class="container-fluid">
        Run All :
        <button class="btn btn-primary" ng-click="runAll()" style="border-radius: 25%;"> <span class="glyphicon glyphicon-play-circle"></span></button>
        <div class="row" ng-repeat="plugin in plugin_list" style="margin-top: 5px;">
            <div class="col-md-2">
                <button class="btn btn-success" ng-click="run_plugin(plugin.name)"> <span class="glyphicon glyphicon-play-circle"></span></button>
            </div>
            <div class="col-md-4">
                {{plugin.name}}
            </div>
            <div class="col-md-4">
                {{plugin.fileName}}
            </div>
            <div class="col-md-2">
                <div id="{{plugin.name}}"></div>
            </div>
        </div>
    </div>

</div>