


<div ng-controller="HealthCheckController">

    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>

    <div class="container-fluid">

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-8">
                        <h3>Plugins</h3>
                    </div>
                    <div class="col-md-4" style="margin-top: 10px;">
                        <div class="pull-right">
                           
                            <button class="btn btn-primary" ng-click="runAll()"  data-toggle="tooltip" data-placement="top" title="Run All" style="border-radius: 25%;"> <span class="glyphicon glyphicon-fast-forward"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body">



        
        <div ng-repeat="plugin in plugin_list">
        <div class="row"  style="margin-top: 5px;">
            <div class="col-md-1">
                <a class="btn btn-primary" ng-click="run_single_plugin(plugin.name)"> <span class="glyphicon glyphicon-play-circle" style="font-size: 18px;"></span></a>
            </div>
            <div class="col-md-2" style="margin-top: 4px;">
                {{plugin.name}}
            </div>
            <div class="col-md-6">
                {{plugin.description}} 
            </div>
            <div class="col-md-1">
                <div id="{{plugin.name}}" ></div>


            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#{{$index}}" style="display: none;" id="{{plugin.name}}{{plugin.name}}{{plugin.name}}">Details</button>
            </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                <div id="{{$index}}" class="collapse">
                    <div id="{{plugin.name}}{{plugin.name}}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
                        <div >

                           
                        </div>
                    </div>
                       
                </div>
                </div>
            </div>
        </div>
            </div>
        </div>
        <br>
        <div class="panel panel-success " ng-class="{'panel-danger':numberOfFailures > 0}">
            <div class="panel-heading" >

                        Report Summary

            </div>
            <div class="panel-body" id="summary">
                System Tests Failed : {{numberOfFailures}}   of  {{plugin_list.length}}
            </div>
        </div>
    </div>

</div>

