<div ng-controller="HealthCheckController">
    <div class="container-fluid">
        Run All :
        <button class="btn btn-primary" ng-click="runAll()" style="border-radius: 25%;"> <span class="glyphicon glyphicon-play-circle"></span></button>
        <div ng-repeat="plugin in plugin_list">
        <div class="row"  style="margin-top: 5px;">
            <div class="col-md-1">
                <button class="btn btn-success" ng-click="run_single_plugin(plugin.name)"> <span class="glyphicon glyphicon-play-circle"></span></button>
            </div>
            <div class="col-md-2">
                {{plugin.name}}
            </div>
            <div class="col-md-6">
                {{plugin.description}} 
            </div>
            <div class="col-md-1">
                <div id="{{plugin.name}}" ></div>


            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#{{$index}}" style="display: none;" id="{{plugin.name}}{{plugin.name}}{{plugin.name}}">Details</button>
            </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                <div id="{{$index}}" class="collapse">
                    <div id="{{plugin.name}}{{plugin.name}}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
                        <div >

                           
                        </div>
                    </div>
                       
                </div>
                </div>
            </div>
        </div>
        <br>
        <div class="panel panel-success " ng-class="{'panel-danger':numberOfFailures > 0}">
            <div class="panel-heading" >

                        Report Summary

            </div>
            <div class="panel-body" id="summary">
                System Tests Failed : {{numberOfFailures}}   of  {{plugin_list.length}}
            </div>
        </div>
    </div>

</div>

